<!doctype html>
<html lang="fa">
<head>


<!-- Basic Page Metatags -->
<title>پیک ! سامانه مدیریت خرید گروهی | اضافه کردن خرید</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="سامانه پیک جهت سهولت در خریدهای گروهی و پرداخت های دسته جمعی ایجاد شده است و بهترین ابزار برای مدیریت هرچه بهتر خریدها در سفر و خابگاه میباشد" />
<meta name="keywords" content="سامانه پیک,مدیریت مخارج گروهی,مدیریت مخارج خابگاه,مادر خرج,سایت مدیریت مخارج دسته جمعی" />
<meta name="author" content="بنا به قوانین مسابقه ذکر نشد" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> <!-- Respomsive Design -->
<!-- End Basic Page Metatags -->


<!-- Import CSS Files -->	  
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen"> <!-- Used for Respomsive Design -->
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">	<!-- Main Stylesheet -->  
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="screen"> <!-- Font Icons -->  
<!-- End Import CSS Files -->

</head>
<body>

<!-- Whole Page Section -->
<div id="container" class="container">


<!-- Header -->
<div class="pagetitle">
<div class="col-md-6">
<a href="index.html"><img src="images/header.png" alt="لوگوی وب سایت پیک"></a>
</div>
<div class="col-md-6">
<div class="tp-balance">
موجودی حساب شما
<span id="account-balance">27500</span> 
</div>
</div>
</div>
<!-- End Header -->


<!-- Main Section -->	 
<div id="content" class="box-section">
<!-- Define a Row -->
<div class="row">
<!-- Menu -->
<div class="col-md-3">
<div class="tp-menu">
<ul>
<li><a href="Purchases.html"><i class="fa fa-shopping-cart"></i>خرید ها</a></li>						
<li><a class="active" href="AddPurchase.html"><i class="fa fa-cart-plus"></i>اضافه کردن خرید</a></li>
<li><a href="PurchaseHistory.html"><i class="fa fa-history"></i>تاریخچه خرید</a></li>
<li><a href="Groups.html"><i class="fa fa-users"></i>گروه ها</a></li>
<li><a href="CreateGroup.html"><i class="fa fa-plus-square"></i>ساخت گروه</a></li>
<li><a href="Profile.html"><i class="fa fa-user"></i>پروفایل</a></li>
<li><a href="AccountBalance.html"><i class="fa fa-money"></i>شارژ و تسویه</a></li>						   
</ul>
</div>
</div>
<!-- End Menu -->



<!-- Add Purchase Area -->
<div class="col-md-9">
<h2>اضافه کردن خرید</h2>

<!-- Add Purchase Form -->
<form id="form" action="#" method="POST">
<div id="msg" class="message"></div>
<div class="col-md-6">	
<div class="text-fields">
<div class="float-input">
<input name="purchase-title" id="purchase-title" type="text" placeholder="آیتم خریداری شده">
<span><i class="fa fa-cart-plus"></i></span>
</div>
<div class="float-input">
<input name="purchase-price" id="purchase-price" type="text" placeholder="قیمت کل">
<span><i class="fa fa-money"></i></span>
</div>
<div class="float-input">
<input name="purchase-code" id="purchase-code" type="text" placeholder="کد خرید">
<span><i class="fa fa-certificate"></i></span>
</div>						
<div class="float-input">
<select name="purchase-group">
<option value="بچه-های-دبیرستان">گروه را انتخاب نمایید</option>
<option value="بچه-های-دبیرستان">بچه های دبیرستان</option>
<option value="همکاران">همکاران</option>
<option value="اکیپ-کوهنوردی">اکیپ کوهنوردی</option>
<option value="منو-رضا-و-حسین">منو رضا و حسین</option>
</select>
<span><i class="fa fa-users"></i></span>
</div>

</div>
</div>
<div class="col-md-6">
<!-- Pic Chunk Table -->
<div class="tp-pic-table">
<table class="tftable" border="1">
<tr><th>ردیف</th><th>نام کاربر</th><th>پیک (تومان و یا درصد)</th></tr>
<tr><td>1</td><td class="tp-text-align-right"><input type="checkbox" name="محسن" value="مقدار تکستباکس روبرو را گرفته و اینجا قرار دهید"> محسن</td><td><input name="محسن-pic" id="محسن-pic" type="text" placeholder=""></td></tr>
<tr><td>2</td><td class="tp-text-align-right"><input type="checkbox" name="فرزاد" value="مقدار تکستباکس روبرو را گرفته و اینجا قرار دهید"> فرزاد</td><td><input name="فرزاد-pic" id="فرزاد-pic" type="text" placeholder=""></td></tr>
<tr><td>3</td><td class="tp-text-align-right"><input type="checkbox" name="امین" value="مقدار تکستباکس روبرو را گرفته و اینجا قرار دهید"> امین</td><td><input name="امین-pic" id="امین-pic" type="text" placeholder=""></td></tr>
<tr><td>4</td><td class="tp-text-align-right"><input type="checkbox" name="مصطفی" value="مقدار تکستباکس روبرو را گرفته و اینجا قرار دهید"> مصطفی</td><td><input name="مصطفی-pic" id="مصطفی-pic" type="text" placeholder=""></td></tr>
</table>
</div>
<!-- End Pic Chunk Table -->

<div class="submit-area">
<button type="submit" name="AddPurchase" id="submit_AddPurchase" onclick="addPurchaseMessage();">
اضافه کردن خرید
</button>
</div>
</div>

</form>
<!-- End Add Purchase Form -->		
</div>
<!-- End Add Purchase Area -->


</div>
<!-- End Define a Row -->


<!-- Footer -->
<div class="tp-footer">
<p>
2015 &copy; کلیه حقوق مادی و معنوی این وب سایت برای دبیرخانه دومین دوره مسابقات مهارت سنجی فناورد محفوظ است .
</p>
</div>
<!-- End Footer -->

</div>
<!-- End Main Section -->

</div>
<!-- End Whole Page Section -->


<!-- Import JS Files -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- Import JS Files -->


</body>
</html>