{% extends 'base.html' %} {% load static %}
{% block title %}ساخت گروه | سامانه پیک{% endblock %}
{% block balance %}12500{% endblock %}
{% block page_header %}ساخت گروه{% endblock %}
{% block content %}
    <!-- Create Group Main Area -->
    <p>
        برای گروه خود نامی انتخاب کنید ، سپس از طریق فیلد بعدی ، نام کاربری کسانی که مایل هستید در گروه شما عضو باشند وارد نمایید ، با شروع وارد نمودن نام کاربری ، لیست افرادی که آن نام کاربری را دارند برای شما نمایش داده میشود که میتوانید انتخاب نمایید .
        <br>
        برای استفاده از این سامانه ، تمامی اعضا میبایست عضو سایت باشند ، با اضافه کردن اعضا به گروه ، برای آنها دعوتنامه ای از طریق ایمیل ارسال میگردد .
    </p>
    <!-- Create Group Form -->
{#    <form id="form" action="" method="POST">#}
{#        {% csrf_token %}#}
{#        <div id="msg" class="message"></div>#}
{#        <div class="text-fields">#}
{#            {% for item in create_form %}#}
{#                <div class="float-input ">#}
{#                    {{ item }}#}
{#                    <span><i class="fa fa-user"></i></span>#}
{#                </div>#}
{#            {% endfor %}#}
{##}
            {#            <div class="tp-added-members">#}
            {#            </div>#}
{#            <div class="submit-area">#}
                {#                <button type="submit" name="creategruoup" id="submit_creategruoup" onclick="createGruoupMessage();">#}
                {#                </button>#}
{#                <button type="submit" >#}
{#                    ساخت گروه#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}

    <form action="" method="post">
    {% csrf_token %}
        <div id="msg" class="message"></div>
        <div class="text-fields">
            {% for item in create_form %}
                <div class="float-input ">
                    {{ item }}
                    <span><i class="fa fa-user"></i></span>
                </div>
            {% endfor %}

            {#            <div class="tp-added-members">#}
            {#            </div>#}
            <div class="submit-area">
                {#                <button type="submit" name="creategruoup" id="submit_creategruoup" onclick="createGruoupMessage();">#}
                {#                </button>#}
                <button type="submit" >
                    ساخت گروه
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    {{ create_form.media }}
    <!-- End Create Group Form -->

    <!-- End Create Group Main Area -->
{% endblock %}