<!doctype html>
<html lang="fa">
<head>


<!-- Basic Page Metatags -->
<title>پیک ! سامانه مدیریت خرید گروهی | گروه ها</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="سامانه پیک جهت سهولت در خریدهای گروهی و پرداخت های دسته جمعی ایجاد شده است و بهترین ابزار برای مدیریت هرچه بهتر خریدها در سفر و خابگاه میباشد" />
<meta name="keywords" content="سامانه پیک,مدیریت مخارج گروهی,مدیریت مخارج خابگاه,مادر خرج,سایت مدیریت مخارج دسته جمعی" />
<meta name="author" content="بنا به قوانین مسابقه ذکر نشد" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> <!-- Respomsive Design -->
<!-- End Basic Page Metatags -->


<!-- Import CSS Files -->	  
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen"> <!-- Used for Respomsive Design -->
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">	<!-- Main Stylesheet -->  
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="screen"> <!-- Font Icons -->  
<!-- End Import CSS Files -->

</head>
<body>

<!-- Whole Page Section -->
<div id="container" class="container">


<!-- Header -->
<div class="pagetitle">
<div class="col-md-6">
<a href="index.html"><img src="images/header.png" alt="لوگوی وب سایت پیک"></a>
</div>
<div class="col-md-6">
<div class="tp-balance">
موجودی حساب شما
<span id="account-balance">27500</span> 
</div>
</div>
</div>
<!-- End Header -->


<!-- Main Section -->	 
<div id="content" class="box-section">
<!-- Define a Row -->
<div class="row">
<!-- Menu -->
<div class="col-md-3">
<div class="tp-menu">
<ul>
<li><a href="Purchases.html"><i class="fa fa-shopping-cart"></i>خرید ها</a></li>						
<li><a href="AddPurchase.html"><i class="fa fa-cart-plus"></i>اضافه کردن خرید</a></li>
<li><a href="PurchaseHistory.html"><i class="fa fa-history"></i>تاریخچه خرید</a></li>
<li><a class="active" href="Groups.html"><i class="fa fa-users"></i>گروه ها</a></li>
<li><a href="CreateGroup.html"><i class="fa fa-plus-square"></i>ساخت گروه</a></li>
<li><a href="Profile.html"><i class="fa fa-user"></i>پروفایل</a></li>
<li><a href="AccountBalance.html"><i class="fa fa-money"></i>شارژ و تسویه</a></li>					   
</ul>
</div>
</div>
<!-- End Menu -->



<!-- Groups Main Area -->
<div class="col-md-9">
<h2>گروه هایی که هم اکنون عضو هستید</h2>

<div class="tp-groups-table">
<table class="tftable" border="1">
<tr><th>ردیف</th><th>نام گروه</th><th>سمت</th><th>عملیات</th></tr>
<tr><td>1</td><td>بچه های دبیرستان</td><td>مدیر</td><td><i class="fa fa-sign-out"></i><i class="fa fa-cog"></i><i class="fa fa-times-circle"></i></td></tr>
<tr><td>2</td><td>همکاران</td><td>عضو</td><td><i class="fa fa-sign-out"></i></td></tr>
<tr><td>3</td><td>اکیپ کوهنوردی</td><td>عضو</td><td><i class="fa fa-sign-out"></i></td></tr>
<tr><td>4</td><td>منو رضا و حسین</td><td>مدیر</td><td><i class="fa fa-sign-out"></i><i class="fa fa-cog"></i><i class="fa fa-times-circle"></i></td></tr>
</table>
</div>			
<i class="fa fa-sign-out"></i> لغو عضویت | 
<i class="fa fa-cog"></i> مدیریت گروه | 
<i class="fa fa-times-circle"></i> حذف گروه
</div>
<!-- End Groups Main Area -->


</div>
<!-- End Define a Row -->


<!-- Footer -->
<div class="tp-footer">
<p>
2015 &copy; کلیه حقوق مادی و معنوی این وب سایت برای دبیرخانه دومین دوره مسابقات مهارت سنجی فناورد محفوظ است .
</p>
</div>
<!-- End Footer -->

</div>
<!-- End Main Section -->

</div>
<!-- End Whole Page Section -->


<!-- Import JS Files -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- Import JS Files -->


</body>
</html>