{% extends 'base.html' %} {% load static %}
{% block title %}ساخت گروه | سامانه پیک{% endblock %}
{% block balance %}12500{% endblock %}
{% block page_header %}ساخت گروه{% endblock %}
{% block content %}
    <!-- Create Group Main Area -->
    <p>
        برای گروه خود نامی انتخاب کنید ، سپس از طریق فیلد بعدی ، نام کاربری کسانی که مایل هستید در گروه شما عضو باشند وارد نمایید ، با شروع وارد نمودن نام کاربری ، لیست افرادی که آن نام کاربری را دارند برای شما نمایش داده میشود که میتوانید انتخاب نمایید .
        <br>
        برای استفاده از این سامانه ، تمامی اعضا میبایست عضو سایت باشند ، با اضافه کردن اعضا به گروه ، برای آنها دعوتنامه ای از طریق ایمیل ارسال میگردد .
    </p>
    <!-- Create Group Form -->
    <form action="" method="post">
        {% csrf_token %}

        {% if message %}
            <div id="msg" class="message">
                {{ message }}
            </div>
        {% endif %}
        <div class="text-fields">


            <!-- List of Groups-->
            {% if groups_list %}
                {% for group in groups%}
                    {% url 'edit_group' group.id as edit_url%}
                    <table class="table table-bordered">
                        <th>
                            {% if group.admin == user.id %}
                                <a href="{{ edit_url }}">
                                    {{ group.title }}
                                </a>
                            {% else %}
                                {{ group.title }}
                            {% endif %}
                        </th>
                        <th>اعضا</th>
                        {% for member in group.member.all %}
                            {% if forloop.first and group.owner %}
                                <tr>
                                    <td></td>
                                    <td>{{ group.owner }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td></td>
                                <td>{{ member }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
                {#                {% for form in edit_group_form %}#}
                {#                    {% if not forloop.last %}#}
                {#                        {{ form }}#}
                {#                        <span><i class="fa fa-user"></i></span>#}
                {#                        <p>#}
                {#                            {% url 'edit_group' form.id.value as edit_url%}#}
                {#                            <a class="btn btn-info" href="{{ edit_url }}">ویرایش</a>#}
                {#                        </p>#}
                {#                    {% endif %}#}
                {##}
                {#                {% endfor %}#}
            {% endif %}

            <!-- Edit Group Form -->
            {% if edit_group %}
                {{ edit_group_form }}
            {% endif %}

            <!-- Create Group Form -->
            {% if create %}
                {% for item in create_form %}
                    {#                        <div class="float-input ">#}
                    {{ item }}
                    <span><i class="fa fa-user"></i></span>
                    {#                        </div>#}
                {% endfor %}
            {% endif %}


            <div class="submit-area">

                {% if create or edit %}
                    <button type="submit" >
                        {% if create %}
                            ساخت گروه
                        {% elif edit or edit_group_form%}
                            ذخیره
                        {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    {{ create_form.media }}
    {{ edit_group_form.media }}
    <!-- End Create Group Form -->

    <!-- End Create Group Main Area -->
{% endblock %}