{% extends 'base.html' %} {% load static %}
{% block title %}ساخت گروه | سامانه پیک{% endblock %}
{% block balance %}12500{% endblock %}
{% block page_header %}ساخت گروه{% endblock %}
{% block content %}

    <!-- Groups Main Area -->
    <div class="col-md-9">
        <h2>گروه هایی که هم اکنون عضو هستید</h2>

        <div class="tp-groups-table">
            <table class="tftable" border="1">
                <tr><th>ردیف</th><th>نام گروه</th><th>سمت</th><th>اعضای گروه</th><th>عملیات</th></tr>
                {% for group in groups %}
                    <tr>
                    {% url 'edit_group' group.id as edit_url%}
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {% if group.admin == user %}
                            <a href="{{ edit_url }}">
                                {{ group.title }}
                            </a>
                        {% else %}
                            {{ group.title }}
                        {% endif %}
                    </td>
                    <td>
                        {{ group.admin }}
                    </td>
                    <td>
                        {% for member in group.member.all %}
                            {% if not forloop.last %}
                                {{ member }} |
                            {% else %}
                                {{ member }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <i class="fa fa-sign-out"></i>  |
                        {% if group.admin == user %}
                            <i class="fa fa-cog"></i> |

                        {% endif %}
                        <i class="fa fa-times-circle"></i>
                    </td>

                    {#                            </td><td><i class="fa fa-sign-out"></i><i class="fa fa-cog"></i><i class="fa fa-times-circle"></i></td></tr>#}
                    {#                            <tr><td>2</td><td>همکاران</td><td>عضو</td><td>امیرحسین و امیررضا و محمد</td><td><i class="fa fa-sign-out"></i></td></tr>#}
                    {#                            <tr><td>3</td><td>اکیپ کوهنوردی</td><td>عضو</td><td>امیرحسین و امیررضا و محمد</td><td><i class="fa fa-sign-out"></i></td></tr>#}
                    {#                            <tr><td>4</td><td>منو رضا و حسین</td><td>مدیر</td><td>امیرحسین و امیررضا و محمد</td><td><i class="fa fa-sign-out"></i><i class="fa fa-cog"></i><i class="fa fa-times-circle"></i></td></tr>#}
                {% endfor %}
            </table>
        </div>
        {#        <i class="fa fa-sign-out"></i> لغو عضویت |#}
        {#        <i class="fa fa-cog"></i> مدیریت گروه |#}
        {#        <i class="fa fa-times-circle"></i> حذف گروه#}
    </div>
    <!-- End Groups Main Area -->



    <!-- Import JS Files -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <!-- Import JS Files -->

{% endblock %}