{% extends 'base.html' %}
{% block title %}پروفایل شما | سامانه بیک{% endblock %}
{% block balance %}12500{% endblock %}
{% block page_header %}پروفایل شما{% endblock %}
{% block content %}
    <form action="" method="POST">
        {% if message %}
            <div id="msg" class="message">
                {{ message }}
            </div>
        {% endif %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div id="msg" class="error_message">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}

        {% csrf_token %}
        {% for item in form %}
            {% for error in item.errors %}
                <div class="error_message">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="float-input">
                {{ item }}
                <span><i class="fa fa-user"></i></span>
            </div>
        {% endfor %}
        <div class="submit-area">
            <input type="submit" value="بروزرسانی تغییرات">
        </div>
        </div>
    </form>


{% endblock %}


