{% extends 'base.html' %}
{% block title %}تاریخچه خرید{% endblock %}
{% block balance %}{% endblock %}
{% block page_header %}تاریخچه خرید{% endblock %}
{% block content %}
    <!-- Filters -->
    <div class="tp-filters">

        فیلتر خریدها بر اساس گروه :
        <span class="active" id="filter-all" onclick="filterByGroupId(this);">همه</span>
        {% for group in request.user.group_set.all %}
            <span id="filter-{{ group.id }}" onclick="filterByGroupId(this, {{ group.id }});">{{ group.title }}</span>
        {% endfor %}
    </div>
    {% for portion in portions %}
        <div id="purchase-box-01" class="tp-purchase-box" data-group="{{ portion.purchase.group.id }}">
            <div class="col-md-9">
                <h4>{{ purchase.purchase.title }}</h4>
                <div class="tp-purchase-meta">پرداخت شده توسط :<span>{{ portion.user.name }}</span>
                    | در تاریخ :<span>{{ portion.created_at }}</span>
                    | مبلغ کل : <span>{{ portion.purchase.price }} تومان</span>
                </div>
                <div class="tp-pic-table">
                    <table class="tftable" border="1">
                        <tr><th>ردیف</th><th>نام کاربر</th><th>پیک (تومان)</th><th>وضعیت پرداخت</th></tr>
                        {% for user in portion.purchase.group.member.all %}
                            {# starting index 1 #}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ portion.amount }}</td>
                                {% if portion.status %}
                                    <td class="tp-paied"><i class="fa fa-check-square"></i></td>
                                {% else %}
                                     <td class="tp-not-paied"><i class="fa fa-times-circle"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-3 tp-pic-box">
                این خرید
                <span>تکمیل</span>
                شده است
                <button name="resend-reciption-mail" id="submit-resend-reciption-mail" onclick="sendReciptionMailMessage();">
                    ارسال مجدد فاکتور به ایمیل شما
                </button>
                کد خرید :
                <span id="purchase-code">#2568A85</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}